body{
    font-family: 'Mandali', sans-serif;
}

.grid-popup{
    display: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popup{
    display: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000000b8;
}

.sec-pop{
    width: 700px;
    height: 350px;
    max-width: 700px;
    max-height: 300px;
    margin:0 4%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.sec-pop h1{
    text-align: center;
    padding: 10px 1em;
    margin: 0;
    background: #be1b1bcc;
    color: #fff;
    font-size: 26px;
    border: 1px solid transparent;
    border-radius: 6px 6px; 
}

.form-popup{
    width: 100%;
    height: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}